@mixin neue\_animations {
  .animate.fade-in {
    opacity: 0;
    transition: opacity .2s;
  
    &.appear {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes drawerExpand {
    from {
      left: -#{$drawer-expanded-width - $drawer-collapsed-width};
    }

    to {
      left: 0;
    }
  }

  @keyframes drawerCollapse {
    0% {
      width: $drawer-expanded-width;
    }

    100% {
      width: $drawer-collapsed-width;
    }

  }
}