@mixin neue\_navigation {
  .toolbar.navigation {
    @extend .shadow-500;
    
    .row {
      @extend .middle-xs;
    }

    nav {
      display: flex;

      a {
        border-bottom: 2px solid transparent;
        color: #fff;
        font-size: $f500;
        padding: #{$s100 + $s500} 0 $s500;

        + a {
          margin-left: $s700;
        }
      }
    }
    
    .logo {
      fill: #fff;
      height: $h300;
      width: $h300;
    }

    a.active {
      border-bottom: 2px solid #fff;
    }

    .left {
      @extend .col-xs-21;
      @extend .col-sm-5;
    } 
    
    .right {
      @extend .col-xs-21;
      @extend .col-sm-16;

      nav {
        justify-content: flex-end;
      }
    }
  }
}