.styleguide {
  margin: 0 auto;
  max-width: 120rem;
}

.section {
  padding: $s700 0;
}

.element {
  background: #4DE8FF;
  border-radius: 2px;
  font-size: $h100;
  font-weight: 700;
  color: darken(#4DE8FF, 45%);
  min-height: 3rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: center;

  &.large {
    min-height: 6rem;   
  }

  .element {
    background: darken(#4DE8FF, 20%);
    border: 3px solid #4DE8FF;
    margin: 0;
    padding: 1rem;
  }
}