@import '_mixins';

@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900|Open+Sans+Condensed:300,700|Open+Sans:400,600,700,800&display=swap');

$color-neutral-100: #CACFE7 !default;
$color-neutral-200: #B0B5CE !default;
$color-neutral-300: #9da2bc !default;
$color-neutral-400: #9297AF !default;
$color-neutral-500: #6F7593 !default;
$color-neutral-600: #55596D !default;
$color-neutral-700: #42465D !default;
$color-neutral-800: #2D3148 !default;
$color-neutral-900: #0F1224 !default;

$color-primary-100: #C5BFFF !default;
$color-primary-200: #A399F8 !default;
$color-primary-300: #9489F4 !default;
$color-primary-400: #887DF1 !default;
$color-primary-500: #7568EB !default;
$color-primary-600: #6B5FDE !default;
$color-primary-700: #6053D5 !default;
$color-primary-800: #574BC5 !default;
$color-primary-900: #4A40A9 !default;

$color-secondary-100: #ffe2bf !default;
$color-secondary-200: #f8cd99 !default;
$color-secondary-300: #f4c489 !default;
$color-secondary-400: #f1bd7d !default;
$color-secondary-500: #ebb068 !default;
$color-secondary-600: #dea55f !default;
$color-secondary-700: #d59a53 !default;
$color-secondary-800: #c58e4b !default;
$color-secondary-900: #a97a40 !default;

$color-body: lighten($color-neutral-100, 12%) !default;

/**
  SHADOWS
**/
$shadow-light: darken($color-body, 3%);
$shadow-dark: darken($color-body, 6%);

// box-shadow: -10px -10px 20px 0 #FAFBFF, 10px 10px 20px 0 #A6ABBD;
$shadow-100: -2px -2px 4px $shadow-light, 2px 2px 4px $shadow-dark;
$shadow-200: -4px -4px 6px $shadow-light, 4px 4px 6px $shadow-dark;
$shadow-300: -6px -6px 8px $shadow-light, 6px 6px 8px $shadow-dark;
$shadow-400: -8px -8px 10px $shadow-light, 8px 8px 10px $shadow-dark;
$shadow-500: -10px -10px 12px $shadow-light, 10px 10px 12px $shadow-dark;
$shadow-600: -12px -12px 14px $shadow-light, 12px 12px 14px $shadow-dark;
$shadow-700: -14px -14px 16px $shadow-light, 14px 14px 16px $shadow-dark;
$shadow-800: -16px -16px 18px $shadow-light, 16px 16px 18px $shadow-dark;
$shadow-900: -18px -18px 20px $shadow-light, 18px 18px 20px $shadow-dark;

/**
  DRAWER
**/
$drawer-background: $color-primary-500;
$drawer-collapsed-width: 5.5rem;
$drawer-expanded-width: 25rem;

$font-header: 'Nunito', serif !default;
$font-body: 'Open Sans', sans-serif !default;
$font-display: 'Open Sans Condensed', cursive !default;

/**
  LAYOUT

  Define the column count, gutters, margins, and breakpoints
  Fibonacci Sequence is ideal: 21 max with with 1, 2, 3, 5, 8, 13 columns.
**/
$breakpoints: (
  sm: 400px,
  md: 768px,
  lg: 1024px
);
$grid-columns: 21 !default;
$grid-gutter: 1.3rem !default;


/**
  BORDER RADIUS
**/
$r100: 2px;
$r200: 3px;
$r300: 4px;
$r400: 5px;
$r500: 6px;
$r600: 8px;
$r700: 12px;
$r800: 15px;
$r900: 18px;

/**
  FONTS
**/
$f100: 1.0rem;
$f200: 1.2rem;
$f300: 1.3rem;
$f400: 1.4rem;
$f500: 1.6rem;
$f600: 1.8rem;
$f700: 2.0rem;
$f800: 2.2rem;
$f900: 2.5rem;

/**
  HEIGHT

  Used for Headers, Icons, etc
**/ 
$h100: 1.8rem !default;
$h200: 2.0rem !default;
$h300: 2.2rem !default;
$h400: 2.4rem !default;
$h500: 2.6rem !default;
$h600: 2.8rem !default;
$h700: 3.0rem !default;
$h800: 3.2rem !default;
$h900: 4.2rem !default;

/** 
  SPACE

  Fibonacci sequence. Used for padding, margins
**/ 
$s100: 0.2rem !default;
$s200: 0.3rem !default;
$s300: 0.5rem !default;
$s400: 0.8rem !default;
$s500: 1.3rem !default;
$s600: 2.1rem !default;
$s700: 3.4rem !default;
$s800: 6rem !default;
$s900: 9rem !default;

%container {
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 $s800;
}