$c-primary-500: #7568EB !default;


$font-header: 'Nunito', serif !default;
$font-body: 'Open Sans', sans-serif !default;
$font-display: 'Open Sans Condensed', cursive !default;

/**
  GRID
  Define the column count, gutters, margins, and breakpoints
**/
$grid-columns: 12 !default;
$grid-gutter: 1rem !default;
$grid-breakpoints: sm 48em 46rem, md 62em 61rem, lg 75em 71rem !default; // <name> <breakpoint> <width>,


/**
  HEIGHT
  Used for Headers, Icons, etc
**/ 
$h100: 1.8rem !default;
$h200: 2.0rem !default;
$h300: 2.2rem !default;
$h400: 2.4rem !default;
$h500: 2.6rem !default;
$h600: 2.8rem !default;
$h700: 3.0rem !default;
$h800: 3.2rem !default;
$h900: 4.2rem !default;

/** 
  SPACE
  Fibonacci sequence. Used for padding, margins
**/ 
$s100: 0.2rem !default;
$s200: 0.3rem !default;
$s300: 0.5rem !default;
$s400: 0.8rem !default;
$s500: 1.3rem !default;
$s600: 2.1rem !default;
$s700: 3.4rem !default;
$s800: 5.5rem !default;
$s900: 8.9rem !default;